<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Odontología Especializada</title>
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/signup.css" rel="stylesheet">

    <link href="assets/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-cyan login-page authentication">
    <div class="theme-bg">
        <div class="container">
            <div class="row">
                <form action="registrate" method="POST">
                    <div class="card text" id="card">
                        <h1 class="title"><span>Odontología Especializada</span>Registrate <span class="msg">Registra una nueva
                                cuenta</span></h1>
                        <div class="col-12">
                            <form id="sign_up" class="col-12" method="POST">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="nombre" placeholder="Nombres *" required autofocus>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="apellido" placeholder="Apellidos *" required>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="ci" placeholder="C.I. *" required>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="telefono" placeholder="Teléfono *" required>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <fieldset>
                                            <label for="fecha_nacimiento" style="color: #6c757d">Fecha de nacimiento *</label>
                                            <input type="date" name="fecha_nacimiento" required> 
                                        </fieldset>
                                        
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="correo_paciente" placeholder="Correo Electrónico *" required>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<small style="color: #212529">En Alergias y Enfermedades, por favor separe con "," Ej: Diabetes,Epilepsia,Alzheimer.</small>

                                </div>
                                <div class="row">

                                    
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="enfermedades_base" placeholder="Enfermedades base *" required>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="alergias" placeholder="Alergias *" required>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="usuario" placeholder="Nombre de Usuario *" required>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password" minlength="6" placeholder="Contraseña *" required>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="conf_password" minlength="6" placeholder="Confirmar Contraseña *" required>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="text-center">
                                    <input type="submit" class="btn btn-raised g-bg-cyan waves-effect" value="Regístrate">
                                </div>
                                <div class="m-t-10 m-b--5 align-center">
                                    <a href="/paciente-iniciar-sesion">Ya tienes una cuenta?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        

    </div>

    <script src="assets/bundles/libscripts.bundle.js"></script> 
    <script src="assets/bundles/vendorscripts.bundle.js"></script> 
<<<<<<< HEAD

    <script src="assets/bundles/mainscripts.bundle.js"></script>
=======
    <script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert2 CDN -->
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= time %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            });
        </script>
    <% } %>
>>>>>>> e7e6ded94032b777ec2e2404d88d930c47eb98e3
</body>

</html>